table, th{
  border-collapse: collapse;
  border: 1px solid black;
}

/* set background color for even rows */
tr:nth-child(even) {
  background-color: pink;
}

/* set background color for odd rows */
tr:nth-child(odd) {
  background-color: yellow;
}

/* set background color for the first row */
tr:first-child {
  background-color: white;
}
